# Core functionality - changes here should be rare!
/src/app.py                   @deakR
/src/backend/database.py      @deakR
/src/backend/routers/auth.py  @deakR

# The frontend will need refactored soon to be more object oriented.
/src/static/   @deakR
